{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

<body>
  {% block header %}
    {{ super() }}
  {% endblock %}

  {% block content %}
  <div class="container text-center">
    <div class="col-md-7">
      <!-- Formulario para agregar un nuevo país -->
      <form action='/countries/add_contact' method="POST">
        <div class="form-floating mb-4 mt-3">
          <input type="text" class="form-control mb-2" id="floatingInput" name="f_country" placeholder="Country" required>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>

      <!-- Tabla para listar países -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Country</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for country in countries %}
          <tr>
            <td class="col-md-3">{{ country.country }}</td>
            <td class="col-md-4">
              <a class="btn btn-primary" href="{{ url_for('get_contact', id=country.id_country) }}" role="button">Edit</a>
              <a class="btn btn-danger" href="{{ url_for('delete_contact', id=country.id_country) }}" role="button">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
    {{ super() }}
  {% endblock %}
</body>
</html>