<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Conoce mas </title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.0/Chart.bundle.js"></script>
  <script defer src="{{ url_for('static', filename='js/script3.js')}}"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
  <header id="codo">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="port">
      <a class="navbar-brand" id="cont"><img src="{{ url_for('static', filename='images/logo.png')}}" id="logo"> Conoce
        mas</a>
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Tablas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('countries')}} ">Paises</a>
              <a class="dropdown-item" href="{{ url_for('states')}} ">Estados</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Reportes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('populationSx')}} ">Poblacion por sexo</a>
              <a class="dropdown-item" href="{{ url_for('a')}} ">Desempleo por Estado</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Ciudades </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reportajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Entrevistas</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container text-center">
    <div class="row row-cols-3">
      <div class="col-6">
        <table class="table table-striped">
          <thead>
            <tr class="x-tittle">
              <td>City</td>
              <td>Density</td>
              <td>Population</td>
            </tr>
          </thead>
          <tbody>

            {% for person in population %}
            <tr>
              <td>{{ person.0}}</td>
              <td>{{ person.1}}</td>
              <td>{{ person.2}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>

      <script>
        let arrpopulation = {{ population | tojson}}
        let arrpopulation2 = {{ population2 | tojson}}                                               
      </script>

      <div class="col text-center">
        <row>
          <h4> Only Main Cities</h4>
          <div>
            <div style="width: 500px" id="grafico">
              <canvas id="grafica"></canvas>
            </div>
          </div>
        </row>

        <row>
          <h4> Main Cities</h4>
          <div>
            <div style="width: 500px" id="grafico2          ">
              <canvas id="grafica2"></canvas>
            </div>
          </div>
        </row>


      </div>

      <div class="col">
      </div>
    </div>
  </div>
  <footer>

    <nav class="navbar" style="background-color: #67823a;">

      <div class="container">
        <div class="col  ">
          <a href="#" class="foot"> </a>
        </div>

        <div class="col  ">
          <a href="#" class="foot">Preguntas frecuentes </a>
        </div>
        <div class="col">
          <a href="#" class="foot">Contactanos </a>
        </div>
        <div class="col ">
          <a href="#" class="foot">Prensa</a>
        </div>
        <div class="col ">
          <a href="#" class="foot">Sobre Nosotros</a>
        </div>
        <div class="col ">
          <a href="#" class="foot">Terminos y condiciones</a>
        </div>
        <div class="col ">
          <a href="#" class="foot">Privacidad</a>
        </div>

      </div>
    </nav>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>



</body>

</html>