{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}



  <div class="container text-center col-md-12">
    <div class="row row-cols">
      <div class="col-md-8">
        <table class="table table-striped text-right" id="my_font">
          <thead>
            <tr class="text-right font-weight-bold">
              <td class ="text-left">State</td>
              <td>Women </td>
              <td>Men </td>
              <td>Total </td>
            </tr>
          </thead>
          <tbody>

            {% for population in populations %}
            <tr>
              <td class="text-left">{{ population.getstate()}}</td>
              <td>{{"{:,}".format(population.getfemale())}}</td>
              <td>{{"{:,}".format(population.getmale())}}</td> 
              <td>{{"{:,}".format(population.gettotal())}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>

      <script>
        let arrpopulation = {{ populationsGra | tojson}}                                                      
      </script>

      <div class="col-md-4 ">
        <div class="row justify-content-center mt-4 mb-2 " >
          <h4>Northrein by Genre</h4>
        </div>

        <div class="row">
          <div id="grafico">
            <canvas id="grafica"></canvas>
          </div>
        </div>

        <div class="row justify-content-center mt-4 mb-2">
          <h4> Bayern by Genre</h4>
        </div>

        <div class="row">
          <div id="grafico2">
            <canvas id="grafica2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  {% endblock %}

  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>

</html>