<form action='/states/add_contact' method="POST">
    <input type="text" name="f_state" placeholder="State">
    <input type="text" name="f_idCountry" placeholder="Cod Country">
    <button type="submit">Agregar</button>
</form>




<table>
    <thead>
        <tr>
            <td>State</td>   
            <td>Country</td>  
            <td>Sex</td>           
            <td>Population</td>         
        </tr>
    </thead>
    <tbody>
        {% for person in population %}
            <tr>
                <td>{{ person.1}}</td>
                <td>{{ person.0}}</td> 
                <td>{{ person.2}}</td>
                <td>{{ person.4}}</td>


            </tr>
        {% endfor %}
    </tbody>
</table>